html, body{
background-color: #a27056;
}

h1 {
font-size: 50px;
text-align: center;
}

#proposition {
font-family: monospace;
text-align: center;
font-size: 21px;

}

.boutondiv {
display: flex;
justify-content: center;

button{
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: inset 0 -1px 4px;
    padding: 11px 10px;
    background: #86442c;
    color: white;
}
}

.divul {
display: flex;
justify-content: center;

ul{
list-style:none;
}
}

section{
display: flex;
text-align: center;
flex-direction: column;
background-color: #f4dfd4;
padding: 60px 20px;
font-family: 'georgia';
h3{
font-size: 20px;
}
img{
border-radius: 5px;
max-width: 900px;
}
}